@model LearnerProject.Models.Entities.Testimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Referanslar Güncelleme</h3>

<form method="post"enctype = "multipart/form-data">

    @Html.HiddenFor(x => x.TestimonialId)
    <label>İsim Soyisim</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Ünvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Resim Url</label>
    <input type="file" name="ImageUrl" value="@Model.ImageUrl" />
    <br />
    <label>Yorum</label>
    @Html.TextAreaFor(x => x.Comment, 5, 30, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>

