@model List<LearnerProject.Models.Entities.About>
<div class="services-section" id="about">
    <div class="container">
        @foreach (var item in Model)
        {
<div class="row justify-content-between">
    <div class="col-lg-4 mb-5 mb-lg-0">

        <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
            <h2 class="line-bottom mb-4">@item.Title</h2>
        </div>

        <p data-aos="fade-up" data-aos-delay="100">@item.Description</p>

        <ul class="ul-check list-unstyled mb-5 primary" data-aos="fade-up" data-aos-delay="200">
            <li>Öğrencilerimiz--> @item.Item1</li>
            <li>Öğretmenlerimiz--> @item.Item2</li>
            <li>Okullarımız-->   @item.Item3</li>
        </ul>

        <p data-aos="fade-up" data-aos-delay="300"><a href="/Contact/Index/" class="btn btn-primary">İletişim</a></p>

    </div>
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
        <figure class="img-wrap-2">
            <img src="@item.ImageUrl" alt="Image" class="img-fluid">
            <div class="dotted"></div>
        </figure>

    </div>
</div>}
    </div>
</div>